@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

h2 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}

.clientes {
    text-align: center;
    margin: 20px 0;
}

.add-button {
    border: 1px solid #586760;
    background-color: #6b8c84;
    padding: 8px 15px;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 1em;
}

.add-button:hover {
    opacity: 0.9;
}

.div-table {
    padding: 0;
}

#customer-table {
    display: table;
    font-size: 1em;
    text-align: center;
    width: 100%;
}

table, th, td {
    text-align: center;
    border-collapse: separate;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}


th, td{
    padding: 10px;
}

th {
    background: #586760;
    color: #fff;
    font-size: 1em;
}

tr:hover {
    background-color: #ddd;
}

.voltar-btn {
    border: 1px solid #586760;
    background-color: #6b8c84;
    padding: 8px 15px;
    border-radius: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
}

.voltar-btn a {
    text-decoration: none;
    color: #fff;
}



@media screen and (max-width: 700px) and (min-width: 320px) {
    
    table, thead, tbody, th, td, tr { 
		display: block; 
        font-size: 0.9em;
	}

    /* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
        text-align: right;

	}

    td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 30%; 
		padding-right: 10px; 
		white-space: nowrap;
        text-align: left;
        vertical-align: center;
	}

    /*	Label the data	*/
	td:nth-of-type(1):before { content: "Nome"; font-weight: bolder;}
	td:nth-of-type(2):before { content: "CPF"; font-weight: bolder;}
	td:nth-of-type(3):before { content: "E-mail"; font-weight: bolder;}
	td:nth-of-type(4):before { content: "Telefone"; font-weight: bolder;}
	td:nth-of-type(5):before { content: "Endereço"; font-weight: bolder;}

    /*	Make the data align left	*/
    td:nth-of-type(1) { text-align: center; }
    td:nth-of-type(2) { text-align: center; }
    td:nth-of-type(3) { text-align: center; }
    td:nth-of-type(4) { text-align: center; }
    td:nth-of-type(5) { text-align: center; }

}
