@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.App {
  text-align: center;
}

body {
  width: 100%;
  margin: 0;
  margin-bottom: 60px;
}

#root {
  width: 100%;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  margin: 0 5%;
}

.logo h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 2em;
}

.logo h1 a {
  text-decoration: none;
  color: #000;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  display: inline-block;
  margin: 0 20px;
  text-decoration: none;
  border: 1px solid #586760;
  background-color: #6b8c84;
  padding: 8px 15px;
  border-radius: 18px;
  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.menu li:hover {
  opacity: 0.9;
}

.linkclientes, .linkprodutos {
  color: #fff;
  text-decoration: none;
}

.container {
  text-align: center;
}

.texto-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 30px 30px 30px;
  text-align: center;
  background-color: #586760;
  color: #fff;
}

h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 3em;
  font-family: 'Rajdhani', sans-serif;
}

.texto-principal p {
  line-height: 2em;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

.img-principal img {
  text-align: center;
  width: 450px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  padding: 3%;
  margin: 30px 0;
  height: 430px;
}

.img1:hover {
  opacity: 0.9;
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.footer {
  position: absolute;
  width:100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
}

.texto-footer {
  text-align: center;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
}

.img-footer {
  text-align: center;
  margin: 5px;
}

.img-footer a {
  margin: 0 5px
}


@media screen and (max-width: 700px) and (min-width: 320px) {


  nav {
    width: 100%;
    text-align: center;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .logo h1 {
    font-size: 3em;
    text-align: center;
  }
  

  .menu {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 10px;
    border-bottom: 1px  solid #586760;
  }

  .menu ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu li {
    text-decoration: none;
    border: 1px solid #586760;
    background-color: #6b8c84;
    padding: 8px 15px;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }

  .container {
    text-align: center;
    width: auto;
  }

  h2 {
    font-size: 1.8em;
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
  }

  .texto-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px 30px 30px;
    text-align: center;
    background-color: #586760;
    color: #fff;
  }

  .texto-principal p {
    line-height: 2em;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
  }

  .img-principal img {
    text-align: center;
    width: 260px;
    padding: 3%;
    margin: 30px 0;
    height: 260px;
  }

  .footer {
    flex-direction: column;
    padding: 20px 0;
  }

}



